html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.bg-fabric {
    background-color: #087f8c !important;
}
.btn-fabric {
    background-color: #0f8996 !important;
    border-color: #0f8996 !important;
    color: #fff !important;
}

    .btn-fabric:hover {
        background-color: #0c727d !important;
        border-color: #0c727d !important;
        color: #fff !important;
    }